.header{
    background-color: #9b2121;
    color: #ffffff;
    display: flex;
    justify-content: center;
    text-size-adjust: 20px;
    font-size: x-large;
}
img {
    border: 5px solid rgb(207, 71, 82);
  }
.menu{
    background-color: #9b2121;
    color: #ffffff;
    display: flex;
    justify-content: center;
    text-size-adjust: 20px;
    font-size: large;

}